.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu{
  width: 25%;
  text-align: left;
  left: -100%;
  position: fixed;
  transition: 0.5%;
  list-style: none;
  height: 100vh;
  background-color:rgb(34, 142, 142);
  color: rgb(7, 18, 8);
}

.activemenu{
  left: 0%;
}

.menu ul li {
  list-style: none;
  padding: 10px 0px;
}

.micon{
  position: absolute;
  right: 10px;
}

.modelOverLay{
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background-color:rgba(0, 0, 0, 0.5) ;
}

.ModelDiv{
  width: 320px;
  position: fixed;
  left: 50%;
  transition: 0.3s;
  top: -500%;
  transform: translate(-50%,-50%);
  height: 320px;
  background-color: white;

}
.ShowModelDiv{
  top: 50%;
}

.modelShow{
  display:block ;
}
.en{
  position: fixed;
  right: -30px;
  top: 100px;
  transform: rotate(-90deg);
}